body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 20px;
}

.deviceBox {
    display: inline-block;
    padding: 10px;
    margin: 5px;
    border: 1px solid black;
    cursor: pointer;
    transition: background-color 0.3s;
}

.selected {
    background-color: lightblue;
}

section {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
